<% provide(:title, "Dashboard") %>

<%= render partial: "shared/app_menu" %>

<div class="dashboard-app">
  <div class="section-inside">

    <h1><i class="fa fa-tachometer"></i> Dashboard</h1>

    <div class="grid arbitrary dashboard-buttons">
      <div class="row">

        <div class="col">
          <%= link_to foodlog_path, :class => 'btn-icon giant' do %>
              <i class="fa fa-cutlery" aria-hidden="true"></i>
              <span class="text">Food Log</span>
          <% end %>
        </div>

        <div class="col">
          <%= link_to weightlog_path, :class => 'btn-icon giant' do %>
              <i class="fa fa-balance-scale" aria-hidden="true"></i>
              <span class="text">Weight Log</span>
          <% end %>
        </div>

        <div class="col">
          <%= link_to activities_path, :class => 'btn-icon giant' do %>
              <i class="fa fa-bolt" aria-hidden="true"></i>
              <span class="text">Activities</span>
          <% end %>
        </div>

        <div class="col">
          <%= link_to routines_path, :class => 'btn-icon giant' do %>
              <i class="fa fa-retweet" aria-hidden="true"></i>
              <span class="text">Routines</span>
          <% end %>
        </div>

      </div>
    </div>

    <%= render "week_in_review" %>

    <noscript>
      <strong>You need Javascript enabled to see dashboard charts.</strong>
    </noscript>

    <div id="dashboard-app" class="hide-if-no-js"></div>

  </div>
</div>