<div class="login">
    <%= form_for(:session, url: login_path, :html => {:class => "large"}) do |f| %>

    	<%= f.label :email %>
    	<%= f.email_field :email, placeholder: 'Username' %>

    	<%= f.label :password %>
    	<%= f.password_field :password, placeholder: 'Password' %>

    	<%= f.submit "Log in", class: "btn" %>
    <% end %>
</div>
