<div class="login">
    <%= form_for(:session, url: login_path, :html => {:class => "large"}) do |f| %>

    	<%= f.label :email %>
    	<%= f.email_field :email, placeholder: 'Email Address' %>

    	<%= f.label :password %>
    	<%= f.password_field :password, placeholder: 'Password' %>

    	<div class="btn-bar form-group">
    	    <div class="left">
                <%= link_to 'Forgot Password', new_password_reset_path, class: "pill" %>
            </div>
            <div class="right">
                <%= f.button class: "btn" do %>
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    Login
                <% end %>
            </div>
        </div>
    <% end %>
</div>
