<% provide(:title, 'Reset password') %>

<h1>Reset Password</h1>

<%= form_for(@user, url: password_reset_path(params[:id]), :html => {:class => "large"}) do |f| %>
    <% if @user.errors.any? %>
        <%= render partial: "shared/error_messages", locals: {errors: @user.errors} %>
    <% end %>
    <%= hidden_field_tag :email, @user.email %>

    <%= f.label :password %>
    <%= f.password_field :password, placeholder: 'New Password' %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, placeholder: 'Confirmation' %>

    <%= f.submit "Update Password", class: "btn" %>
<% end %>
