<div class="routine-form">
<%= form_for routine do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "large" %>

    <div class="description">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
  </div>

  <% unless routine.id.nil? %>
    <div class="activities card">
      <h2><i class="fa fa-bolt" aria-hidden="true"></i> Activities</h2>
      <div class="activity-list-window">
        <div class="activity-list">
          <%= activities.find_each do |activity| %>
          <input  type="checkbox"
                  name="activities[<%= activity.id %>]"
                  value="1"
                  class="helper-input"
                  <%= routine.activities.include?(activity.id) ? "checked" : "" %>
                  id="activity-<%= activity.id %>">
          <label for="activity-<%= activity.id %>"
                 class="activity-label"
                 style="order:<%= activity.user_id == current_user.id ? "15" : "25" %>">
            <%= activity.name %>
          </label>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="btn-bar">
    <div class="left">
      <%= link_to "Delete Routine", delete_routine_path(routine), class: "btn-meta delete" unless routine.id.nil? %>
    </div>
    <div class="right">
      <%= f.button (routine.id.nil?) ? "Create Routine" : "Save Routine", class: "btn" %>
    </div>
  </div>
<% end %>
</div>