<div class="routine-form">
<%= form_for routine do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "large" %>

  <div class="options">

    <div class="description">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <% unless routine.id.nil? %>
      <div class="activities card">
        <h2><i class="fa fa-bolt" aria-hidden="true"></i> Activities</h2>
        <div class="activity-list">
          <%= activities.find_each do |activity| %>
          <input  type="checkbox"
                  name="activities[<%= activity.id %>]"
                  value="1"
                  class="helper-input"
                  <%= routine.activities.include?(activity.id) ? "checked" : "" %>
                  id="activity-<%= activity.id %>">
          <label for="activity-<%= activity.id %>"
                 class="activity-label"
                 style="order:<%= activity.user_id == current_user.id ? "15" : "25" %>">
            <%= activity.name %>
          </label>
          <% end %>
          <label class="activity-label-category" style="order: 0">Selected</label>
          <label class="activity-label-category" style="order: 10">Your Activities</label>
          <label class="activity-label-category" style="order: 20">All Activities</label>
        </div>
      </div>
    <% end %>

  </div>

  <%= link_to "Delete Routine", delete_routine_path(routine), class: "delete-btn" unless routine.id.nil? %>
  <%= f.button (routine.id.nil?) ? "Create Routine" : "Save Routine", class: "btn" %>
<% end %>
</div>