<div class="routine card">
  <div class="header">
    <h2>
      <%= link_to edit_routine_path(routine), class: "meta", title: "Edit or Delete this Routine" do %>
        <i class="fa fa-pencil"></i>
        <span class="screen-reader-text">Edit Routine</span>
      <% end %>
      <%= link_to routine.name, routine %>
    </h2>
    <% unless routine.last_completed.nil? %>
    <div class="last-completed">
      <strong>Last Completed:</strong> <%= link_to nice_day(routine.last_completed), routine_day_path(routine, routine.last_completed) %>
    </div>
    <% end %>
    <div class="activities">
      <h3>Activities</h3>
      <ul>
        <% routine.activities.each do |activity_id|
            activity = Activity.find(activity_id) %>
        <li>
          <%= link_to activity.name, activity %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="action-section">
    <%= link_to routine, class: "card-meta-btn" do %>
      <i class="fa fa-bolt"></i>
      Train Routine
      <span class="screen-reader-text"><%= routine.name %></span>
    <% end %>
  </div>
</div>