
<div class="weight-entry-new app-form">
<%= form_for @newweightentry do |f| %>
    <%= f.hidden_field :day %>
    <div class="grid">
      <% if @newweightentry.errors.any? %>
        <div class="row">
          <div class="col full">
            <%= render partial: "shared/error_messages", locals: {errors: @newweightentry.errors} %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col full">
          <%= f.text_field :value, placeholder: "e.g., 165 lbs, 83.9kg, 12 stone, etc.", class: "large" %>
        </div>
      </div>
    </div>
    <div class="btn-bar">
      <div class="left"></div>
      <div class="right">
        <%= button_tag(type: 'submit', class: 'btn submit') do %>
            <i class="fa fa-plus"></i>
            <strong>New Entry</strong>
        <% end %>
      </div>
    </div>
<% end %>
</div>
