<% provide(:title, "Weight Log") %>

<%= render partial: "shared/app_menu" %>

<div class="app-wrapper">

  <%= render partial: "shared/day_navigator", :locals => {base_url: weightlog_path}  %>

  <div class="section-inside">

    <h1><i class="fa fa-balance-scale"></i> Weight Log</h1>

    <div class="weightlog-table card-grid">
        <% if @weightentries.count > 0 %>
            <%= render @weightentries %>
    	<% else %>
    		<p>You haven't entered any entries yet today. Add some using the form below!</p>
    	<% end %>
    </div>

    <% if @weightentries.size > 1 %>
      <div class="totals">
        <div class="full">
          <span class="number"><%= raw(@weight_average) %></span>
          <span class="label">Today's Average</span>
        </div>
  	  </div>
    <% end %>

    <%= render "form" %>

  </div>

</div>