<% provide(:title, "Weight Log") %>

<%= render partial: "shared/app_menu" %>
<%= render partial: "shared/day_navigator", :locals => {base_url: weightlog_path}  %>

<h1><i class="fa fa-balance-scale"></i> Weight Log</h1>

<div class="weightlog-table">
    <% if !@weightentries.nil? %>
        <%= render @weightentries %>
        <% if @weightentries.size > 1 %>
        <div class="average">
            Average:
            <span class="number"><%= raw(@weight_average) %></span>
    	</div>
        <% end %>
	<% else %>
		<p>You haven't entered any entries yet today. Add some using the form below!</p>
	<% end %>
	<%= render "form" %>
</div>
