<%= form_for(@recipe, :html => {:class => "recipe-form"}) do |f| %>

  <% if @recipe.errors.any? %>
      <%= render partial: "shared/error_messages", locals: {errors: @recipe.errors} %>
  <% end %>


  <div class="info">
    <%= f.label :name, :class => "req" %>
    <%= f.text_field :name, placeholder: "Recipe Name", class: "name" %>

    <%= f.label :description, :class => "req" %>
    <%= f.text_area :description, placeholder: "Description of the dish. What is the end result?" %>

    <%= f.label :servings %>
    <%= f.number_field :servings, placeholder: "0-50" %>
  </div>

  <% if !@recipe.id.nil? %>
    <% if @recipe.ingredients.count > 0 %>
      <h2><i class="fa fa-cutlery"></i> Ingredients</h2>
      <%= render @recipe.ingredients.all %>
    <% end %>
    <div class="new-ingredient app-form">
      <div class="row">
        <div class="col long">
          <% if @newingredient.errors.any? %>
              <%= render partial: "shared/error_messages", locals: {errors: @newingredient.errors} %>
          <% end %>
          <h2><i class="fa fa-cutlery"></i> New Ingredient</h2>
        </div>
      </div>
      <div class="row">
        <div class="col short">
          <%= text_field :newingredient, :name, placeholder: "Amount and Ingredient, e.g., 1/2 tsp Salt" %>
        </div>
        <div class="col short">
          <%= number_field :newingredient, :calories, placeholder: "Calories" %>
        </div>
        <div class="col short">
          <%= number_field :newingredient, :fat, placeholder: "Fat" %>
        </div>
        <div class="col short">
          <%= number_field :newingredient, :carbs, placeholder: "Carbs" %>
        </div>
        <div class="col short">
          <%= number_field :newingredient, :protein, placeholder: "Protein" %>
        </div>
      </div>
    </div>

    <%= f.label :instructions %>
    <%= f.text_area :instructions, placeholder: "Preparation instructions. How do you make this dish?" %>

    <%= link_to "Delete Recipe", delete_recipe_path(@recipe), class: "delete-btn" %>
  <% else %>
    <p class="reminder">Once you fill in this form, and create your recipe, you will be able to add ingredients and provide preparation instructions for your dish.</p>
  <% end %>

  <%= f.submit (@recipe.id.nil?) ? "Create Recipe" : "Save Recipe", class: "btn" %>

<% end %>
