<% provide(:title, @recipe.name) %>

<%= render partial: "shared/app_menu" %>

<div class="recipe">
  <div class="recipe-header">
    <h2><i class="fa fa-shopping-basket"></i> <%= @recipe.name %></h2>
    <p class="description"><%= @recipe.description %></p>
    <% if @recipe.servings > 0 %>
      <p class="serves">Serves <%= @recipe.servings %></p>
    <% end %>
  </div>

  <div class="info">
    <div>
      <h3><i class="fa fa-balance-scale"></i> Nutrition</h3>
      <strong class="calories">Calories:</strong> <span class="calories-total"><%= @recipe.calories %></span>
      <strong class="fat">Calories:</strong> <span class="fat-total"><%= @recipe.fat %></span>
      <strong class="carbs">Carbs:</strong> <span class="carbs-total"><%= @recipe.carbs %></span>
      <strong class="protein">Protein:</strong> <span class="protein-total"><%= @recipe.protein %></span>
    </div>
    <% if @recipe.servings > 0 %>
      <div>
        <h3>per serving</h3>
        <strong class="calories">Calories:</strong> <span class="calories-per-serving"><%= @recipe.calories_per_serving %></span>
        <strong class="fat">Calories:</strong> <span class="fat-per-serving"><%= @recipe.fat_per_serving %></span>
        <strong class="carbs">Carbs:</strong> <span class="carbs-per-serving"><%= @recipe.carbs_per_serving %></span>
        <strong class="protein">Protein:</strong> <span class="protein-per-serving"><%= @recipe.protein_per_serving %></span>
      </div>
    <% end %>
  </div>

  <div class="ingredients">
    <h3><i class="fa fa-cutlery"></i> Ingredients</h3>
    <%= render partial: "ingredients/ingredient", collection: @recipe.ingredients,
                        as: :ingredient, locals: {view: "show"} %>
  </div>

  <div class="instructions">
    <h3><i class="fa fa-flask"></i> Preparation Instructions</h3>
    <div class="preparation">
      <%= @recipe.instructions %>
    </div>
  </div>

</div>
