<% provide(:title, "Get Started: Step 2") %>

<div class="section-inside">
  <h1>Step 2: Calculate Your Daily Expended Energy</h1>

  <p>Tell us a little bit about yourself so that we can calculate your TDEE, or
  your Total Daily Expended Energy. This number can help you calculate how much
  more or less you should eat to hit your caloric intake goals.</p>

  <%= form_tag(controller: "registrations", action: "save_metrics", method: "post") do %>

    <%= label_tag "height_display", "Height" %>
  	<%= text_field_tag "height_display", @user.preferences["height_display"], placeholder: "e.g. 5'8\", 175 cm, 5 feet 8 inches, 72 inches, etc." %>

  	<%= label_tag "birthday", "Birthday" %>
  	<%= text_field_tag "birthday", @user.preferences["birthday"], placeholder: "Anything with a year and a month, e.g., May 1982, 05/01/1977, 1/7/88, etc." %>

  	<%= label_tag "activity_level", "Activity Level" %>
  	<%= select_tag "activity_level", options_for_select([
    	                            ["Sedentary", 1],
    	                            ["Lightly Active", 2],
    	                            ["Active", 3],
    	                            ["Highly Active", 4],
    	                            ["Intensely Active", 5],
  	                            ], @user.preferences["activity_level"]) %>

  	<%= label_tag "weight", "Recent Weight" %>
    <%= text_field_tag "weight", @weightentry.display_value , placeholder: "e.g., 165 lbs, 83.9kg, 12 stone, etc." %>

    <div class="radio-list">
  		<span class="header">Sex</span>

  		<%= radio_button_tag 'sex', 'f', @user.preferences["sex"] == "f" ? true : false, :id => "sex-f" %>
  		<%= label_tag "sex-f", "Female" %>

  		<%= radio_button_tag 'sex', 'm', @user.preferences["sex"] == "m" ? true : false, :id => "sex-m" %>
  		<%= label_tag "sex-m", "Male" %>

  		<%= radio_button_tag 'sex', 'na', @user.preferences["sex"].blank? || @user.preferences["sex"] == "na" ? true : false, :id => "sex-na" %>
  		<%= label_tag "sex-na", "Other / Prefer Not to Disclose" %>
  	</div>

  	<%= button_tag(type: 'submit', class: 'btn') do %>
  		Step 3: Set Target Calories
  	<% end %>
  <% end %>

</div>