<% provide(:title, "Activity Log, " + @activity.name) %>

<%= render partial: "shared/app_menu" %>

<div class="activity-entries-wrapper app-wrapper">

  <%= render partial: "shared/day_navigator", :locals => {base_url: activity_log_path(@activity.id)} %>

  <div class="section-inside">

    <h1><i class="fa fa-bolt"></i> <%= @activity.name %></h1>
    <div class="page-meta">
      <%= link_to activities_path do %>
          <i class="fa fa-chevron-circle-left"></i>
          Activities
      <% end if cookies[:routine_id].nil?  %>
      <%= link_to routine_path(cookies[:routine_id]) do %>
          <i class="fa fa-chevron-circle-left"></i>
          Back to Routine: <%= Routine.find(cookies[:routine_id]).name %>
      <% end %>
    </div>

    <% unless @activityentries.nil? %>
      <div class="activity-entries">
        <%= render @activityentries %>
      </div>
    <% end %>

    <% if @activityentries.nil? || @activityentries.count == 0 %>
      <p>You haven't logged any entries for this activity today.</p>
    <% end %>

    <div class="activity-box">

      <div class="activity-description-box">
        <h2><%= link_to @activity.name, @activity %></h2>
        <ul class="pill-list">
          <% @activity.muscle_group_values.each do |name|
            next unless @activity.targets_group?(name)
            %>
            <li><span class="pill"><%= name %></span></li>
          <% end %>
        </ul>
        <p class="type"><%= @activity.type_name %></p>
        <%= render partial: "activities/types/" + @activity.type_template + "_info", locals: { user: current_user, activity: @activity } %>
      </div>

      <div class="activity-new-box app-form new">
        <%= form_tag activity_new_activity_entry_path(activity_id: @activity.id) do %>
          <%= hidden_field_tag "day", current_day %>
          <%=
            # Renders our partial forms, located in  views/activities/types/
            render partial: "activities/types/" + @activity.type_template %>
          <%= button_tag type: "submit", class: "btn food-log-new-btn", title: "New Entry" do %>
            <i class="fa fa-plus"></i>
            <strong>New Entry</strong>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if !@olderactivityentries.nil? && @olderactivityentries.count > 0 %>
      <div class="older-activity-entries">
        <h3>Previous Entries</h3>
        <%
          prev_day = 0
          @olderactivityentries.each do |entry|
        %>

          <% if prev_day == 0 || prev_day != entry.day %>
            <h4><%= link_to nice_day(entry.day), activity_log_day_path(@activity, entry.day) %></h4>
            <% prev_day = entry.day %>
          <% end %>

          <%= render entry %>

        <% end %>
        </div>
      </div>
    <% end %>

  </div>


</div>