<% if !@newingredient.nil? %>
  <div class="new-ingredient">
    <%= text_field :newingredient, :name %>
    <%= number_field :newingredient, :calories %>
    <%= number_field :newingredient, :fat %>
    <%= number_field :newingredient, :carbs %>
    <%= number_field :newingredient, :protein %>
  </div>
<% end %>
adsfasdf
