<% provide(:title, "We're in Beta") %>

<div class="section-inside">

  <h1><i class="fa fa-exclamation-triangle"></i> We're in Beta!</h1>

  <p>You are currently viewing the beta version of w8mngr. If you use this version, please keep in mind that:</p>

  <ul>
    <li><strong>Not all features are yet enabled.</strong> I am constantly working on this in my free time, so hang around and check back often for updates!</li>

  	<li><strong>Things may not work like they're expected to.</strong> That's the nature of a beta, unfortunately. If you find a bug, please let me know via the <%= link_to "contact page", contact_path %>.</li>

  	<li><strong>The site is constantly evolving.</strong> The look and feel of w8mngr will change frequently, so don't get used to the interface too much! If you have any suggestions, feel free <%= link_to "contact us", contact_path %>.</li>
  </ul>

  <h2>Change Log</h2>

  <h3>Wednesday, August 3</h3>

  <p>Many bug fixes and CSS refactorings that have made maintanence and feature-addition much easier for me. I have also added a <a href="/styleguide/">styleguide</a> to help me build new features without creating new CSS as often. You may also notice a ton of tweaks to font sizes and spacing. They have all been standardized. I also added a new loading animation that I think fits the theme of this site better, as well as a custom background rather than gray.</p>

  <p>Perhaps the biggest fix is that <strong>form posts now work on iOS</strong>. So no more having to reload the page when you modify activities, routines, and weights. This allows Turbolinks to run much more smooth for us iOS users.</p>

  <p>Aside from various bigfixes and feature tweaks, I'm working on expanding and refactoring my test suite so that it's easier to maintain while letting me keep the ability to quickly add features and modify existing features without breaking existing tests. This should increase the site's overall stability. Along with these changes, we're going to be handling messages much, much better in the future--things from 404, to 500, to connectivity issues will be handled in not just a more standardized manner, but for many, they'll be handled for the first time!</p>

  <h3>Friday, July 15</h3>

  <p><%= link_to "Activities", activities_path %> and <%= link_to "routines", routines_path %> are here! You can:</p>

  <ul>
    <li><%= link_to "Create custom activities", new_activity_path %> to keep track of your workouts over time.</li>
    <li><%= link_to "Access our activities database", activities_db_path %> (with more entries coming frequently) to get started quickly.</li>
    <li><%= link_to "Add and track routines", routines_path %> so you can keep track of your progress in carefully-managed chunks.</li>
  </ul>

  <p>We will soon be adding information about total calories burned and other relevant information related to your activities in your dashboard. In addition, I will be switching from <%= link_to "Chart.js", "https://github.com/chartjs/Chart.js" %> to <%= link_to "D3", "https://github.com/d3/d3" %>. Chart.js served me well to get up and running quickly, but I need the power of D3 going forward.</p>

  <p>You may also note that there hae been some major UI changes, mostly focused on the desktop version. First, every version of the site has been polished to improve the user experience and overall smoothness of the interactions and interface. Second, we have incorporated <%= link_to "Turbolinks", "https://github.com/turbolinks/turbolinks" %> into the site for a smoother, snappier feel on every device.</p>

  <p>In the future, you can expect more polishing on existing features and interfaces. This includes things you may notice and many you won't. For one, I want to ensure that my messaging queueing system is working properly. It's erratic at the moment, so getting that up and running is priority. Second, I want to increase my test coverage, especially for integration tests. At the moment, I only have controller and model tests for many of the new features. I'd like to add some robust integration tests for them, as well, to ensure rock-solid CI.</p>

  <h3>Wednesday, June 8, 2016</h3>

  <p>Are you ready for some cool charts? If you've been following my <a href="https://github.com/baublet">Github Page</a>, you might notice that I've been contributing a bit to <a href="https://github.com/chartjs/Chart.js">Chart.js</a>. Well, surprise! <%= link_to "Dashboards", dashboard_path %> are here! They're written entirely in Vue and Chart.js, serve cached data (up to 24-hours old) for speed, and give you a quick overview of your progress, macros, and the week in review.</p>

  <p>This update also included a whole bunch of behind-the-scenes architecture to help me make more data visualizations when I see fit!</p>

  <h3>Thursday, May 12, 2016</h3>

  <p>Very large updates. I added tons of functionality, including a Javascript implementation via Vue.js. I added a very extensive options page that I plan to smooth over with a few onboarding wizards in the future.</p>

  <h4>Major Changes</h4>

  <ul>

    <li><strong><%= link_to "Recipes", recipes_path %>.</strong> Users can now add recipes, which allows servings, the ability to add either custom ingredients or other food items, and the ability to add preparation instructions.</li>

    <li><strong>Messaging.</strong> The app now automatically tracks your progress and consistency, messaging you if you fall behind. This includes Postmark integration for all emailing, as it's much easier to send email via an API than handling it on our own. This was a much more monumental task than I thought. I'm glad it's done! In the future, I'm going to add support for SMSing folks rather than emailing them.</li>

    <li><strong>Javascript AJAX System.</strong> A custom queueing system for our AJAX requests that lets users know about connectivity issues while queuing user actions until they are back online.</li>

    <li><strong>UI Improvements.</strong> Many many UI improvements. Like, tons!</li>

    <li><strong>Old data importing.</strong> The old data from w8mngr.com can now easily be imported into the new system via a rake task.</li>

  </ul>

  <h3>Sunday, March 1, 2016</h3>

  <p>Initial deployment! Welcome aboard. There is much to do, but I wanted to be able to test this on mobile devices as soon as possible. We are migrating to Amazon Web Services, as you may have noticed, so we are currently deployed there. Our backend has migrated to Ruby on Rails and PostreSQL. Although I'm much more familiar with LESS, I chose to stick with Rails' default preprocessor, SCSS. I'm loving it so far!</p>

  <p>Things that are currently working:</p>

  <ul>
  	<li><strong><%= link_to "User profiles.", profile_path %></strong> Users can make changes to their profiles, which is, at the moment, bare bones. More customization in the future, which will use your profile data (like height, sex, etc.) to help you generate basal metabolic rates and set goals.</li>

  	<li><strong><%= link_to "Food logs.", foodlog_path %></strong> Get to logging your calories today!</li>

  	<li><strong><%= link_to "Custom foods.", foods_path %></strong> Add, edit, or remove custom foods that you can later <%= link_to "search and add directly to", food_search_path %> your food logs.</li>

  	<li><strong>Integration with the <a href="https://ndb.nal.usda.gov/ndb/foods">USDA's food database</a>.</strong> Over 8,000 foods complete with nutritional info and popular measurements at your finger tips.

  	<li><strong><%= link_to "Log your weights.", weight_entries_path %></strong> Add weight entries throughout the day and get an average so you can get a feel for how your weight naturally fluctuates.
  </ul>

</div>