<section class="call-to-action">
    <div class="actions">
        <p class="suggestion">Take control of your life</p>
        <p class="second suggestion">one day at a time</p>
        <div class="sign-up">
          <% if logged_in? %>
            <a href="<%= foodlog_path %>" class="btn banner-btn"><i class="fa fa-star"></i> Dashboard</a>
            <p>Or, you can <%= link_to "Logout", logout_path %></p>
          <% else %>
            <a href="<%= signup_path %>" class="btn banner-btn"><i class="fa fa-star"></i> Get Started</a>
            <p>Have an account? <%= link_to "Login", login_path %></p>
          <% end %>
        </div>
    </div>
    <div class="banner">
        <picture>
            <source media="(min-width: 1820px)" srcset="<%= image_path('banners/w8mngr-splash-01-large.jpg') %>">
            <source media="(min-width: 900px)" srcset="<%= image_path('banners/w8mngr-splash-01-medium.jpg') %>">
            <img src="<%= image_path('banners/w8mngr-splash-01-small.jpg') %>" alt="Get back in shape at your own pace." class="banner-img">
        </picture>
        <!--<img class="banner-img"
            src="<%= image_path('banners/w8mngr-splash-01-small.jpg') %>"
            srcset="<%= image_path('banners/w8mngr-splash-01-medium.jpg') %> 1000w,
                    <%= image_path('banners/w8mngr-splash-01-large.jpg') %> 1920w"
            sizes="100vw"
            alt="Get back in shape at your own pace.">-->
    </div>
</section>

<section class="summary">
    <ul class="summary-points">
        <li class="track-food">
            <h2><i class="fa fa-list-alt"></i> Track what you eat</h2>
            <p>Our food log allows you to quickly and efficiently track your food intake on a daily basis.</p>
        </li>

        <li class="build-plan">
            <h2><i class="fa fa-map-signs"></i> Build a plan that suits your pace</h2>
            <p>Our plan wizard allows you to set the pace of your lifestyle adjustment to suit your pace and phsyiology. New users can easily create a plan that puts them on a course toward their ideal weight or lifestyle choices.</p>
        </li>

        <li class="view-progress">
            <h2><i class="fa fa-trophy"></i> View your progress over time</h2>
            <p>Losing weight and maintaining one's fitness is hard. With our progress charts, you can visualize your progress over the weeks and months you have tracked your food and fitness.</p>
        </li>

        <li class="build-recipes">
            <h2><i class="fa fa-cutlery"></i> Construct recipes that fit your meal plan</h2>
            <p>Use our recipe builder to make and share healthy, delicious meals with the rest of w8mngr's users.</p>
        </li>

        <li class="scan-barcodes">
            <h2><i class="fa fa-barcode"></i> Scan barcodes to quickly track your foods</h2>
            <p>Thanks to the help of various partners, users can scan barcodes of foods they eat or plan to eat on the fly, logging the nutritional information quickly and efficiently.</p>
        </li>
    </ul>
</section>

<section class="what-is-it">
    <h1>What is it?</h1>

    <p>w8mngr (wāt măn'ĭ-jər, or "weight manager") is a simple lifestyle and fitness tracker geared toward straightforward weight loss and health management.</p>

    <p>With the number of fad diets on the rise, it is easy to lose site of the original intentions of dieting: to keep the weight off and maintain a healthy lifestyle long after the diet ends. To do this requires much more work than simply cutting carbs or fatty foods. It's impossible to keep unhealthy foods out of your life entirely. But managing your intake and keeping track of your health is crucial in keeping you healthy and fit.</p>

    <p>This is the philosophy by which w8mngr was created: by tracking your lifestyle, you can maintain it. Once you have committed yourself to and experienced actual results from a diet that you have created, you will feel more confident about straying from your own guidelines once in a blue moon. Similarly, once you learn to think about what you eat, you stop dieting and have turned the corner to a healthy lifestyle.</p>

    <p>This is the philosophy by which W8mngr was created. What does that mean? Well, you can:</p>

    <ul>
        <li>Keep detailed records of your daily food intake.</li>
        <li>Track your glucose levels, blood pressure, weight, or whatever you wish with the custom entries dialogs.</li>
        <li>Track your exercise habits to maintain a fit, sleek self.</li>
        <li>Look back on the week's log, seeing averages and totals to see how much, how little, how high or how low the week has been.</li>
        <li>Keep daily notebook records about how you are feeling, what techniques you have used lately, or whatever you want.</li>
    </ul>

    <p>So why not register today? It's free!</p>
</section>
