<section class="call-to-action">
  <div class="actions">
    <p class="suggestion">Take control of your life</p>
    <p class="second suggestion">one day at a time</p>
    <div class="sign-up">
      <% if logged_in? %>
      <a href="<%= dashboard_path %>" class="btn hero"><i class="fa fa-star"></i> Dashboard</a>
      <p>Or, you can <%= link_to "Logout", logout_path %></p>
      <% else %>
      <a href="<%= get_started_path %>" class="btn hero"><i class="fa fa-star"></i> Get Started</a>
      <p>Have an account? <%= link_to "Login", login_path %></p>
      <% end %>
    </div>
  </div>
  <div class="banner">
    <picture>
      <source media="(min-width: 1820px)" srcset="<%= image_path('banners/w8mngr-splash-01-large.jpg') %>">
      <source media="(min-width: 900px)" srcset="<%= image_path('banners/w8mngr-splash-01-medium.jpg') %>">
      <img src="<%= image_path('banners/w8mngr-splash-01-small.jpg') %>" alt="Get back in shape at your own pace." class="banner-img">
    </picture>
  </div>
</section>