<tbody class="food scannable-table-item">

<tr>
  <td class="scannable-table-heading" colspan="6">

    <div class="scannable-table-heading-bar">
      <div class="left">

        <h2 class="scannable-table-item-title">
          <%= link_to food.name, food_path(food) %>
        </h2>

      </div>
      <div class="right">

      <%= link_to edit_food_path(food), class: "btn-icon", title: "Edit Entry" do %>
          <i class="fa fa-pencil"></i>
          <span class="screen-reader-text">Edit Entry</span>
      <% end if food.try(:user_id) == current_user.id %>
      <%= link_to food_delete_path(food), class: "btn-icon delete",  title: "Delete Entry" do %>
          <i class="fa fa-times"></i>
          <span class="screen-reader-text">Delete Entry</span>
      <% end if food.try(:user_id) == current_user.id %>

      </div>
    </div>

  </td>
</tr>
<% unless !food.try(:measurements) %>
  <tr class="scannable-table-lower-heading">
    <th><span class="screen-reader-text">Serving/Unit</span></th>
    <th>Calories</th>
    <th>Fat</th>
    <th>Carbs</th>
    <th>Protein</th>
    <th></th>
  </tr>
  <% food.measurements.each do |measurement| %>
    <tr class="measurement scannable-table-data">
      <td class="serving">
        <span>
          <%= pluralize(number_with_precision(measurement.amount, precision: 1, significant: true), verbose_measurement_unit(measurement.unit)) %>
        </span>
      </td>
      <td>
        <%= number_with_delimiter measurement.calories %>
      </td>
      <td>
        <%= number_with_delimiter measurement.fat %>
      </td>
      <td>
        <%= number_with_delimiter measurement.carbs %>
      </td>
      <td>
        <%= number_with_delimiter measurement.protein %>
      </td>
      <td class="meta">
        <%= link_to food_entry_add_food_path(current_day, measurement.id), class: 'btn-icon primary', title: "Add to Log for " + nice_day(current_day) do %>
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
  	      <span class="btn-text screen-reader-text">Add to Log for <%= nice_day current_day %></span>
        <% end if cookies[:add_to_recipe].nil? %>
        <%= link_to add_food_to_recipe_path(cookies[:add_to_recipe], measurement.id), class: 'btn small', title: "Add to Recipe, " + @recipe.name do %>
	      			<i class="fa fa-plus" aria-hidden="true"></i>
	      			<span class="screen-reader-text">Add to </span>Recipe<span class="screen-reader-text"> <%= @recipe.name %></span>
	      <% end unless cookies[:add_to_recipe].nil? %>
      </td>
    </tr>
  <% end %>
<% end %>

</tbody>