<%= form_for(@food, :html => {:class => "food-form"}) do |f| %>

    <div class="info">
        <%= f.label :name, :class=>'req' %>
        <%= f.text_field :name, placeholder: "Name", class: 'name' %>

        <%= f.label :description, :class=>'req' %>
        <%= f.text_area :description, placeholder: "Description" %>
    </div>
    
    <div class="macros">
        <%= f.label :calories, :class=>'req' %>
        <%= f.number_field :calories, placeholder: "Calories" %>

        <%= f.label :fat %>
        <%= f.number_field :fat, placeholder: "Fat" %>

        <%= f.label :carbs %>
        <%= f.number_field :carbs, placeholder: "Carbs" %>

        <%= f.label :protein %>
        <%= f.number_field :protein, placeholder: "Protein" %>
    </div>

    <%= f.label :food_type, :class=>'req' %>
    <% Food.food_types.keys.each do |type| %>
        <%= f.radio_button :food_type, type %>
        <%= f.label "food_type_" + type, type.titleize, :class=>'tab' %>
    <% end %>

    <div class="ingredient">
        <p>E.g., butter, cream cheese, sugar, flour, peanut butter, etc.</p>
        
        <%= f.label :amount %>
        <%= f.number_field :amount, placeholder: "Amount" %>

        <%= f.label :measurement %>
        <%= f.select(:measurement, Food.measurements.keys.map {|o|
            [o.titleize, o]
        }) %>
    </div>
    
    <div class="packaged-food">
        <p>E.g., can of beans, dried noodles, a Cliff Bar, etc.</p>
        
        <%= f.label :serving_size %>
        <%= f.number_field :serving_size, placeholder: "Serving Size" %>
    </div>

    <%= f.submit "Create Food", class: "btn" %>

<% end %>
