<%= form_for(@food, :html => {:class => "food-form"}) do |f| %>

    <% if @food.errors.any? %>
        <%= render partial: "shared/error_messages", locals: {errors: @food.errors} %>
    <% end %>

    <div class="info">
        <%= f.label :name, :class => "req" %>
        <%= f.text_field :name, placeholder: "Food Name", class: "name" %>

        <%= f.label :description %>
        <%= f.text_area :description, placeholder: "Description" %>
    </div>

    <h2><i class="fa fa-pie-chart"></i> Measurements</h2>

    <% if @food.id.nil? %>
        <p>Each food requires at least one measurement, be it by cups, weight, cookie, slice, or whatever. Because foods can come in many different variations, weights, shapes, and sizes, you can add multiple measurements to allow for easier tracking.</p>
    <% end %>

    <%= render @food.measurements %>

    <%= render @newmeasurement %>

    <%= f.submit (@food.id.nil?) ? "Create Food" : "Save Food", class: "btn" %>

<% end %>
