<% provide(:title, "Search Results") %>

<%= render partial: "shared/app_menu" %>

<div class="breadcrumbs">
  <ul>
    <li><%= link_to "Foods", foods_path %></li>
    <li><%= link_to "Search", food_search_path %></li>
    <li>Results</li>
  </ul>
</div>

<h1><i class="fa fa-search"></i> Search Foods</h1>

<%= render 'search_form' %>

<% if @searchresults.size > 0 %>
	<h1 class="search-results-information">Results for <%= params[:q] %></h1>
<% else %>
	<h1 class="search-results-empty">Nothing Found for <%= params[:q] %></h1>
	<p>None of our databases can find information about <em><%= params[:q] %></em>. If you have the information--or you can Google it--feel free to enter it into our database for easy access later, by <%= link_to "adding a new food", new_food_path %>!</p>
<% end %>

<%= render partial: "search_results", locals: {results: @searchresults} %>

<%= render partial: "shared/simple_pagination", locals: {base_url: @base_url, previous_page: @prev_page, next_page: @next_page} %>
