<h1>Your Foods</h1>

<div class="page-meta">
    <%= link_to new_food_path, :class => 'btn' do %>
        <span class="icon-plus"></span>
        New Food
    <% end %>
</div>

<table class="foods-table">
  <thead>
    <tr>
      <th></th>
      <th>Calories</th>
      <th>Fat</th>
      <th>Carbs</th>
      <th>Protein</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
        <tr>
            <td class="long">
                <h2>
                    <%= link_to edit_food_path(food) do %>
                        <span class="icon-pencil"></span>
                        <%= food.name %>
                    <% end %>
                </h2>
                <% if food.common_food? %>
                    <%= food.amount %> <%= food.measurement %>
                <% else %>
                    <%= food.serving_size %>
                <% end %>
            </td>
            <td><%= food.calories %></td>
            <td><%= food.fat %></td>
            <td><%= food.carbs %></td>
            <td><%= food.protein %></td>
            <td>
                <%= link_to food, :class => 'btn meta delete' do %>
                    <span class="icon-cross"></span>
                    <span class="screen-reader-text">Delete</span>
                <% end %>
            </td>
      </tr>
    <% end %>
  </tbody>
</table>
