<h1><span class="icon-list2"></span> Your Foods</h1>

<div class="page-meta">
    <%= link_to new_food_path, :class => 'btn' do %>
        <span class="icon-plus"></span>
        New Food
    <% end %>
</div>

<% if @foods.size > 0 %>

<div class="foods-table">
<% @foods.each do |food| %>
    <div class="row">
        <div class="col long">
            <h2>
                <%= link_to edit_food_path(food) do %>
                    <span class="icon-pencil"></span>
                    <%= food.name %>
                <% end %>
            </h2>
            <p><%= food.description %></p>
        </div>
        <div class="col meta">
            <%= link_to food_delete_path(food), :class => 'btn delete-btn' do %>
                <span class="icon-cross"></span>
                <span class="screen-reader-text">Delete</span>
            <% end %>
        </div>
  </div>
<% end %>
</div>

<% else %>

<p>You don't have any saved foods. To add some, click the button above. You may also not need any. Our database is quite robust!</p>

<% end %>