<% provide(:title, "Your Foods") %>

<%= render partial: "shared/app_menu" %>

<div class="breadcrumbs">
  <ul>
    <li><%= link_to "Foods", foods_path %></li>
    <li>My Foods</li>
  </ul>
</div>

<h1><i class="fa fa-cutlery"></i> Your Foods</h1>

<div class="page-meta">
    <%= link_to new_food_path, :class => 'btn' do %>
        <i class="fa fa-plus"></i>
        New Food
    <% end %>
</div>

<% if !@foods.nil? && @foods.size > 0 %>

<div class="foods-table">
<% @foods.each do |food| %>
    <div class="row">
        <div class="col long">
            <%= render food %>
        </div>
        <div class="col meta">
            <%= link_to food_delete_path(food), :class => 'btn delete-btn' do %>
                <i class="fa fa-cross"></i>
                <span class="screen-reader-text">Delete</span>
            <% end %>
        </div>
  </div>
<% end %>
</div>

<% else %>

<p>You don't have any saved foods. To add some, click the button above. You may also not need any. Our database is quite robust!</p>

<% end %>
