<h1><%= @food.name %></h1>

<% if !@food.description.blank? %>
  <p class="food-description"><%= @food.description %></p>
<% end %>

<% @food.measurements.each do |measurement| %>
    <%= form_tag food_entry_log_food_path(@day, @food.id.to_s) do %>
    <%= hidden_field_tag 'measurement', measurement.id.to_s %>
    <div class="measurement-box in-transition">
        <div class="col unit">
            <span>Serving Size:</span> <%= measurement.amount %> <%= measurement.unit %>
        </div>
        
        <div class="col">
            <%= label_tag("amount_" + measurement.id.to_s, "Serving(s)") %>
            <%= text_field_tag("amount", nil, placeholder: "e.g. 1, 1/2, .5, etc.", id: "amount_" + measurement.id.to_s) %>
        </div>
        
        <div class="col">
            <strong class="label">Calories</strong>
            <span class="value"><%= measurement.calories %></span>
        </div>
        
        <div class="col">
            <strong class="label">Fat</strong>
            <span class="value"><%= measurement.fat %></span>
        </div>
        
        <div class="col">
            <strong class="label">Carbs</strong>
            <span class="value"><%= measurement.carbs %></span>
        </div>
        
        <div class="col">
            <strong class="label">Protein</strong>
            <span class="value"><%= measurement.protein %></span>
        </div>
        
        <%= button_tag(type: 'submit', class: 'btn food-log-new-btn') do %>
			<span class="icon-plus"></span>
			<span class="btn-text">Add to My Log</span>
		<% end %>
    </div>
    <% end %>
<% end %>