<% provide(:title, @food.name) %>

<%= render partial: "shared/app_menu" %>

<div class="breadcrumbs">
  <div class="section-inside">
    <ul>
      <li><%= link_to "Foods", foods_path %></li>
      <li><%= @food.name.truncate_words(10) %></li>
    </ul>
  </div>
</div>

<div class="section-inside">

  <h1><i class="fa fa-cutlery"></i> <%= @food.name %></h1>

  <% if @food.user_id == current_user.id %>
  <div class="page-meta">
      <%= link_to edit_food_path(@food) do %>
          <i class="fa fa-pencil"></i> Edit
      <% end %>
  </div>
  <% end %>

  <% if !@food.description.blank? %>
    <p class="food-description"><%= @food.description %></p>
  <% end %>

  <h2><i class="fa fa-pie-chart"></i> Measurements</h2>

  <%= render @food.measurements %>

</div>