<div class="row <%= (food_entry[:id].nil?) ? " new" : " entry" %>">

    <%= form_for food_entry do |f| %>

    <%= f.hidden_field :day %>

    <% if food_entry.errors.any? %>
    <%= render partial: "shared/error_messages", locals: {errors: food_entry.errors} %>
    <% end %>

    <div class="col long">
        <%= f.text_field :description, placeholder: :Description %>
    </div>

    <div class="col short" title="Calories">
        <%= f.text_field :calories, placeholder: :Calories %>
    </div>

    <div class="col short" title="Fat">
        <%= f.text_field :fat, placeholder: :Fat %>
    </div>

    <div class="col short" title="Carbs">
        <%= f.text_field :carbs, placeholder: :Carbs %>
    </div>

    <div class="col short" title="Protein">
        <%= f.text_field :protein, placeholder: :Protein %>
    </div>

    <div class="col meta">
        <% if food_entry[:id].nil? %>
        <%= link_to food_search_path, { class: "btn barcode-btn", alt: "Scan Barcode", title: "Scan Barcode" } do %>
        <i class="fa fa-barcode"></i>
        <span class="screen-reader-text">Scan Barcode</span>
        <% end %>
        <%= link_to food_search_path(:food_log_referrer => "true"), { class: "btn search-btn", alt: "Search for Foods", title: "Search for Foods" } do %>
        <i class="fa fa-search"></i>
        <span class="screen-reader-text">Search for Foods</span>
        <% end %>
        <%= button_tag(type: 'submit', class: 'btn food-log-new-btn') do %>
        <i class="fa fa-plus"></i>
        <strong>New Entry</strong>
        <% end %>
    <% else %>
        <%= button_tag(type: 'submit', class: 'btn meta-btn save', title: 'Save Entry') do %>
        <span class="screen-reader-text">Save Entry</span>
        <i class="fa fa-floppy-o"></i>
        <% end %>
        <%= link_to food_entry_delete_path(food_entry),
                          #method: :delete,
                          #data: { confirm: 'Are you sure?' },
              class: 'btn delete-btn',
              title: 'Delete Entry' do %>
        <i class="fa fa-times"></i>
        <span class="screen-reader-text">Delete Entry</span>
        <% end %>
        <% end %>
    </div>

    <% end %>
</div>
