<div class="row <%= (food_entry[:id].nil?) ? "new" : "entry" %>">

	<%= form_for food_entry do |f| %>

	    <%= f.hidden_field :day %>

	    <% if food_entry.errors.any? %>
	        <%= render partial: "shared/error_messages", locals: {errors: food_entry.errors} %>
	    <% end %>

	    <div class="col long">
	    	<%= f.text_field :description, placeholder: :Description %>
	    </div>

	    <div class="col short">
	        <%= f.text_field :calories, placeholder: :Calories %>
	    </div>

	    <div class="col short">
	            <%= f.text_field :fat, placeholder: :Fat %>
	    </div>

	    <div class="col short">
	            <%= f.text_field :carbs, placeholder: :Carbs %>
	    </div>

	    <div class="col short">
	            <%= f.text_field :protein, placeholder: :Protein %>
	    </div>

		<div class="col meta">
	        <% if food_entry[:id].nil? %>
					<%= button_tag(type: 'submit', class: 'btn food-log new') do %>
						<span class="icon-plus"></span>
						<strong>New Entry</strong>
					<% end %>
	        <% else %>
				<%= button_tag(type: 'submit', class: 'btn food-log', title: 'Save Entry') do %>
					<span class="screen-reader-text">Save Entry</span>
					<span class="icon-floppy-disk"></span>
				<% end %>
	            <%= link_to food_entry_delete_path(food_entry),
	                        #method: :delete,
	                        #data: { confirm: 'Are you sure?' },
							class: 'food-log btn delete',
							title: 'Delete Entry' do %>
					<span class="icon-cross"></span>
				<% end %>
	        <% end %>
		</div>

	<% end %>
</div>
