<%= form_for @foodentry do |f| %>
    <%= f.hidden_field :day %>

    <% if @foodentry.errors.any? %>
        <%= render partial: "shared/error_messages", locals: {errors: @foodentry.errors} %>
    <% end %>

    <p>
	    <%= f.label :description %><br>
	    <%= f.text_field :description %>
    </p>

    <p>
        <%= f.label :calories %><br>
        <%= f.text_field :calories %>
    </p>

    <p>
        <%= f.label :fat %><br>
        <%= f.text_field :fat %>
    </p>

    <p>
        <%= f.label :carbs %><br>
        <%= f.text_field :carbs %>
    </p>

    <p>
        <%= f.label :protein %><br>
        <%= f.text_field :protein %>
    </p>

    <p>
        <%= f.submit %>
    </p>

<% end %>
