<% provide(:title, "Food Log") %>

<%= render partial: "shared/app_menu" %>
<%= render partial: "shared/day_navigator" %>

<h1><i class="fa fa-cutlery"></i> Food Log</h1>

<% if !@foodentry.nil? && @foodentry.errors.any? %>
	<%= render partial: "shared/error_messages", locals: {errors: @foodentry.errors} %>
<% end %>

<div class="foodlog-table">
	<% if @foodentries.size > 0 %>
	<div class="row header">
		<div class="col long"></div>
		<div class="col" title="Calories">Calories</div>
		<div class="col" title="Fat">Fat</div>
		<div class="col" title="Carbs">Carbs</div>
		<div class="col" title="Protein">Protein</div>
		<div class="col meta"></div>
	</div>
	<%= render @foodentries %>
	<div class="row header totals">
		<div class="col long">Totals:</div>
		<div class="col" title="Calories"><%= number_with_delimiter(@total_calories) %></div>
		<div class="col" title="Fat"><%= @total_fat %></div>
		<div class="col" title="Carbs"><%= @total_carbs %></div>
		<div class="col" title="Protein"><%= @total_protein %></div>
		<div class="col meta"></div>
	</div>
	<% else %>
		<p>You haven't entered any entries yet today. Add some using the form below!</p>
	<% end %>
	<% @foodentry = @newfoodentry %>
	<%= render @foodentry %>
</table>
