<% provide(:title, "Food Log") %>

<%= render partial: "shared/app_menu" %>

<div id="food-entries-app" class="hide-if-no-js"></div>

<noscript>

  <div class="food-entries-wrapper app-wrapper">

    <%= render partial: "shared/day_navigator", :locals => {base_url: foodlog_path} %>

    <div class="section-inside">

      <h1><i class="fa fa-cutlery"></i> Food Log</h1>

      <% if !@foodentry.nil? && @foodentry.errors.any? %>
        <%= render partial: "shared/error_messages", locals: {errors: @foodentry.errors} %>
      <% end %>

      <% if @foodentries.size > 0 %>
        <div class="foodlog-table app-form transparent table">
          <%= render @foodentries %>
        </div>
        <div class="row header totals">
          <div class="col long">Totals:</div>
          <div class="col" title="Calories"><%= number_with_delimiter(@totals["calories"]) %></div>
          <div class="col" title="Fat"><%= @totals["fat"] %></div>
          <div class="col" title="Carbs"><%= @totals["carbs"] %></div>
          <div class="col" title="Protein"><%= @totals["protein"] %></div>
        </div>
      <% else %>
        <p>You haven't entered any entries yet today. Add some using the form below!</p>
      <% end %>
      <div class="app-form new table">
        <% @foodentry = @newfoodentry %>
        <%= render @foodentry %>
      </div>

    </div>

  </div>

</noscript>