<%= render partial: "shared/day_navigator" %>

<h1><span class="icon-table2"></span> Food Log</h1>

<% if !@foodentry.nil? && @foodentry.errors.any? %>
	<%= render partial: "shared/error_messages", locals: {errors: @foodentry.errors} %>
<% end %>

<div class="foodlog-table">
	<div class="row header">
		<div class="col long">Description</div>
		<div class="col">Calories</div>
		<div class="col">Fat</div>
		<div class="col">Carbs</div>
		<div class="col">Protein</div>
		<div class="col meta"></div>
	</div>
	<%= render @foodentries %>
	<div class="row header totals">
		<div class="col long">Totals</div>
		<div class="col"><%= @total_calories %></div>
		<div class="col"><%= @total_fat %></div>
		<div class="col"><%= @total_carbs %></div>
		<div class="col"><%= @total_protein %></div>
		<div class="col meta"></div>
	</div>
	<% @foodentry = @newfoodentry %>
	<%= render @foodentry %>
</table>
