<p>
	<strong>Description</strong>
	<%= @foodentry.description %>
</p>
 
<p>
	<strong>Calories</strong>
	<%= @foodentry.calories %>
</p>

<p>
	<strong>Fat</strong>
	<%= @foodentry.fat %>
</p>

<p>
	<strong>Carbs</strong>
	<%= @foodentry.carbs %>
</p>

<p>
	<strong>Protein</strong>
	<%= @foodentry.protein %>
</p>