<%
	form_action = (cookies[:add_to_recipe].blank?) ?
									food_entry_add_food_path(current_day, measurement.id.to_s) :
									add_food_to_recipe_path(recipe_id: cookies[:add_to_recipe], measurement_id: measurement.id)
%>

<div class="measurement card">
	<%= form_tag form_action do %>

	<div class="grid" data-measurement-id="<%= measurement.id.to_s %>">
		<div class="row">
			<div class="col">
				<%= label_tag("measurement_" + measurement.id.to_s + "_amount", "Amount") %>
				<%= text_field_tag("measurement[" + measurement.id.to_s + "][amount]", measurement.amount, placeholder: "e.g. 1, 1/2, .5, etc.") %>
			</div>

			<div class="col">
				<span class="label">Unit</span>
				<span class="unit"><%= measurement.unit %></span>
			</div>

			<div class="col">
				<span class="label">Calories</span>
				<span class="calories"><%= measurement.calories %></span>
			</div>

			<div class="col">
				<span class="label">Fat</span>
				<span class="fat"><%= measurement.fat %></span>
			</div>

			<div class="col">
				<span class="label">Carbs</span>
				<span class="carbs"><%= measurement.carbs %></span>
			</div>

			<div class="col">
				<span class="label">Protein</span>
				<span class="protein"><%= measurement.protein %></span>
			</div>

			<div class="col">
				<%= button_tag(type: 'submit', class: 'btn-icon filled', title: (cookies[:add_to_recipe].blank?) ? "Add to Log" : "Add to Recipe") do %>
	      			<i class="fa fa-plus"></i>
	      			<span class="btn-text screen-reader-text"><%= (cookies[:add_to_recipe].blank?) ? "Add to Log" : "Add to Recipe" %></span>
	      <% end %>
			</div>
		</div>
	</div>

	<% end %>
</div>