<div class="reps">
  <%= label_tag :reps, "Repetitions (how many time you lifted in this set)", class: "screen-reader-text" %>
  <%= text_field_tag :reps, ((defined? entry) ? entry.reps : ""), placeholder: "Reps", class: "large" %>
</div>

<% if defined? entry %>
  <i class="fa fa-times" aria-hidden="true"></i>
<% end %>

<div class="work">
  <%= label_tag :work, "Weight (in any unit you specify, or defaults to your selected unit)", class: "screen-reader-text" %>
  <%= text_field_tag :work,
        ((defined? entry) ?
          number_with_precision(entry.work_in(current_user.unit), strip_insignificant_zeros: true, precision: 2) :
          ""
        ),
        placeholder: "Weight, e.g., 100lbs, 10kg, etc...",
        class: "large" %>
</div>

<% if defined? entry %>
  <span class="unit">
    <%= current_user.unit %>
  </span>
<% end %>

<% if defined? entry %>
<div class="when">
  <span class="calories" title="Estimated Calories Burned">
    <span class="screen-reader-text">Estimated Calories Burned:</span>
    <%= entry.calories %> calories
  </span>
  <span class="time"><%= time_ago_in_words(entry.created_at) %> ago</span>
</div>
<% end %>