<div class="activity medium grid">
  <div class="row">
    <% if activity.targets_any_group? %>
      <div class="muscle-groups show col">
          <% Activity::MUSCLE_GROUP_VALUES.each do |name| %>
            <%= check_box_tag "activity[muscle_groups][#{name}]", "1", activity.targets_group?(name), {class: "muscles-helper"} %>
          <% end %>
          <%= render "activities/muscle_groups" %>
      </div>
    <% end %>
    <div class="activity-info col full">
      <h3><%= link_to activity.name, activity %></h3>
      <div class="activity">
        <div class="type"><%= activity.type_name %></div>
        <% if defined? activity_description %>
          <%= raw(activity_description) %>
        <% end %>
        <%= link_to activity_log_day_path(activity, current_day), class: "btn" do %>
          <i class="fa fa-bolt" aria-hidden="true"></i>
          Log Activity <span class="screen-reader-text"><%= activity.name %></span>
        <% end %>
      </div>
    </div>
    <%
      # Find the user's last activity entry for this activity
      last_entry = activity.last_entry(current_user.id)
      days_ago = last_entry.nil? ? 0 : (convert_day_to_date(current_day) - convert_day_to_date(last_entry)).to_i.abs
    %>
    <div class="progress col">
      <% if !last_entry.nil? %>
        <a href="<%= activity_log_day_path(activity, current_day) %>" title="Last entry for <%= activity.name %> was <%= pluralize days_ago, "day" %> ago. Click to log for <%= nice_day current_day %>">
          <% if days_ago == 0 %>
            <i class="fa fa-check-circle-o complete" aria-hidden="true"></i>
            <span class="screen-reader-text">You have logged entries for this activity today. Great work!</span>
          <% else %>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
            <span class="screen-reader-text">Last entry <%= pluralize days_ago, "day" %> ago</span>
            <div class="last-entry"><span class="screen-reader-text">Last entry for <%= activity.name %> was</span> <%= pluralize days_ago, "day" %> ago</div>
          <% end %>
        </a>
      <% else %>
        <a href="<%= activity_log_day_path(activity, current_day) %>" title="Get started with <%= activity.name %> for <%= nice_day current_day %>">
          <i class="fa fa-circle-o" aria-hidden="true"></i>
          <span class="screen-reader-text">Get started with <%= activity.name %></span>
        </a>
      <% end %>
    </div>
  </div>
</div>