<div class="muscle-groups show">
  <h3>Muscle Groups</h3>
    <% Activity::MUSCLE_GROUP_VALUES.each do |name| %>
      <%= check_box_tag "activity[muscle_groups][#{name}]", "1", activity.targets_group?(name), {class: "muscles-helper"} %>
      <%= label_tag "activity[muscle_groups][#{name}]", name %>
    <% end %>

    <%= render "muscle_groups" %>
</div>
<div class="activity">
  <div class="type"><%= activity.type_name %></div>
  <% if defined? activity_description %>
    <%= raw(activity_description) %>
  <% end %>
</div>