<div class="activity card">
  <div class="short-header">
    <h2>
      <%= link_to edit_activity_path(activity), class: "meta", title: "Edit or Delete this Activity" do %>
        <i class="fa fa-pencil"></i>
        <span class="screen-reader-text">Edit Activity</span>
      <% end if activity.user_id == current_user.try(:id) %>
      <%= link_to activity.name, activity %>
    </h2>
  </div>
  <div class="type"><%= activity.type_name %></div>
  <% if defined? activity_description %>
    <%= raw(activity_description) %>
  <% end %>
  <% if activity.targets_any_group? %>
    <div class="muscle-groups-list">
      <h3>Muscle Groups</h3>
      <ul class="pill-list">
      <% Activity::MUSCLE_GROUP_VALUES.each do |name|
        next unless activity.targets_group?(name)
        %>
        <li><a class="pill" href="?activity%5Bmuscle_groups%5D%5B<%= name %>%5D=1" title="View activities that target: <%= name %>"><%= name %></a></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="action-section">
    <%= link_to activity_log_day_path(activity, current_day), class: "log-activity-btn card-meta-btn" do %>
      <i class="fa fa-bolt" aria-hidden="true"></i>
      Log Activity <span class="screen-reader-text"><%= activity.name %></span>
    <% end %>
  </div>
</div>