<div class="activity medium">
  <div class="activity-general-info">
    <% if activity.targets_any_group? %>
    <div class="muscle-groups show">
        <% Activity::MUSCLE_GROUP_VALUES.each do |name| %>
          <%= check_box_tag "activity[muscle_groups][#{name}]", "1", activity.targets_group?(name), {class: "muscles-helper"} %>
        <% end %>
        <%= render "activities/muscle_groups" %>
    </div>
    <% end %>
    <h3><%= link_to activity.name, activity %></h3>
    <div class="activity">
      <div class="type"><%= activity.type_name %></div>
      <% if defined? activity_description %>
        <%= raw(activity_description) %>
      <% end %>
      <%= link_to activity_log_day_path(activity, current_day), class: "log-activity-btn btn" do %>
        <i class="fa fa-bolt" aria-hidden="true"></i>
        Log Activity <span class="screen-reader-text"><%= activity.name %></span>
      <% end %>
    </div>
  </div>
  <% entries = activity.entries(current_user.id, 1, 0, current_day.to_i + 1) %>
  <% if entries.count > 0 %>
    <div class="activity-entries<%= entries[0].day.to_i == current_day.to_i ? " today" : " not-today" %>" title="Entries prior to <%= nice_day current_day %>">
      <h4><%= entries[0].day.to_i == current_day.to_i ? "Today" : "Last Entry: " + time_ago_in_words(entries[0].day_ts) + " ago" %></h4>
      <% entries.each do |entry| %>
        <%= render entry %>
      <% end %>
      <div class="activity-form new short">
        <%= form_tag activity_new_activity_entry_path(activity_id: activity.id) do %>
          <% if (defined? @routine) %><%= hidden_field_tag "from_routine_id", @routine.id %><% end %>
          <%= hidden_field_tag "day", current_day %>
          <%=
            # Renders our partial forms, located in  views/activities/types/
            render partial: "activities/types/" + activity.type_template %>
          <%= button_tag type: "submit", class: "btn food-log-new-btn", title: "New Entry" do %>
            <i class="fa fa-plus"></i>
            <strong>New Entry</strong>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>