<% if !defined? card %>
<div class="muscle-groups show">
  <h3>Muscle Groups</h3>
    <% activity.muscle_group_values.each do |name| %>
      <%= check_box_tag "activity[muscle_groups][#{name}]", "1", activity.targets_group?(name), {class: "muscles-helper"} %>
      <%= label_tag "activity[muscle_groups][#{name}]", name %>
    <% end %>

    <%= render "muscle_groups" %>
</div>
<% end %>
<div class="activity<%= (defined? card) ? raw(" card") : "" %>">
  <% if defined? card %>
    <div class="header">
      <h2>
        <%= link_to edit_activity_path(activity), class: "meta", title: "Edit or Delete this Activity" do %>
          <i class="fa fa-pencil"></i>
          <span class="screen-reader-text">Edit Activity</span>
        <% end if activity.user_id == current_user.try(:id) %>
        <%= link_to activity.name, activity %>
      </h2>
    </div>
  <% end %>
  <div class="type"><%= activity.type_name %></div>
  <% if defined? activity_description %>
    <%= raw(activity_description) %>
  <% end %>
  <% if ((defined? card) && activity.targets_any_group?) %>
    <div class="muscle-groups-list">
      <h3>Muscle Groups</h3>
      <ul class="pill-list">
      <% activity.muscle_group_values.each do |name|
        next unless activity.targets_group?(name)
        %>
        <li><span class="pill"><%= name %></span></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>