<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body class="nojs <%= controller.controller_name %> <%= controller.action_name %>">

<div class="beta-notification">
    <%= link_to beta_path do %>
        <i class="fa fa-exclamation-triangle"></i>
        Beta
    <% end %>
</div>

<a href="#main" class="screen-reader-text">Skip to main content</a>

<header>

    <div class="brand" role="banner">
        <h1 class="site-title"><%= link_to "w8mngr", root_path %></h1>
        <h2 class="site-subtitle">The Lifestyle Tracker</h2>
    </div>

    <nav role="navigation">
        <input type="checkbox" class="nav-toggle" id="nav-toggle" selected>
        <label for="nav-toggle" class="nav-toggle-btn"><span class="screen-reader-text">Options</span></label>
        <div class="navigation-options">
            <h2 class="navigation-title">Navigation</h2>
            <ul class="navigation-list">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Getting Started", getting_started_path %></li>
            <% if logged_in? %>
                <li class="sep"></li>
                <li><%= link_to "Food Log", food_entries_path %></li>
                <li><%= link_to "Profile", current_user %></li>
                <li class="sep"></li>
            	<li><%= link_to "Logout", logout_path, method: "delete" %></li>
            <% else %>
                <li><%= link_to "Sign Up", signup_path %></li>
            	<li class="sep"><%= render 'sessions/login_form' %></li>
            <% end %>
            </ul>
        </div>
    </nav>

</header>

<% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert #{message_type}") %>
<% end %>

<main id="main" role="main">

<%= yield %>

</main>

<footer role="contentinfo">
    <div class="footer-area-1">
        <p>Copyright 2009-<%= Time.now.year %>, Ryan Poe</p>
        <p>Built by hand on Rails, HTML, CSS, and JavaScript.</p>
    </div>

    <div class="footer-area-2">
        <ul class="user-area">
            <li>Nothing here, yet.</li>
        </ul>
    </div>

    <div class="footer-area-3">
        <ul class="site-map">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Getting Started", getting_started_path %></li>
            <li><a href="">Meals Database</a></li>
            <li><%= link_to "Privacy Policy", privacy_path %></li>
            <li><%= link_to "Terms of Service", terms_of_service_path %></li>
            <li><%= link_to "Contact Us", contact_path %></li>
        </ul>
    </div>
</footer>

<%= javascript_include_tag 'https://cdn.jsdelivr.net/vue/latest/vue.js' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
